body {
  margin: 0;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

nav > img {
  padding-left: 40px;
}

nav > ul.nav-items {
  display: flex;
  justify-content: space-around;
}

.nav-item-list {
  list-style: none;
  padding-right: 40px;
}

.nav-item-list a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 255);
}

.tab {
  margin: 0;
}

.active > p {
  text-decoration: underline;
  color: brown;
}

.rocket-container {
  margin: 20px;
}

.one-rocket {
  display: flex;
}

.one-rocket img {
  width: 250px;
  height: 250px;
}

.rocket-card-content {
  margin-left: 20px;
  margin-top: 20px;
}

.reserved-badge {
  background-color: #2f8497;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: white;
  margin-right: 10px;
}
