body {
  margin: 0px;
}

nav {
  background-color: bisque;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

nav > img {
  padding-left: 40px;
}

nav > ul.nav-items {
  display: flex;
  justify-content: space-around;
}

.nav-item-list {
  list-style: none;
  padding-right: 40px;
}

.nav-item-list a {
  text-decoration: none;
  font-size: 18px;
}

.active {
  text-decoration: underline;
  color: brown;
}